<!DOCTYPE html>
<html lang="ru">
<head>
    <title>File Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="menu"><a href="/admin">Настройки</a></div>
    <div class="load-file">
        <h1>Upload File</h1>
        <input type="file" id="fileInput">
        <button id='uploadBtn' onclick="uploadFile()">Upload</button>
    </div>
    <div class="loading"></div>
    <div id="result"></div>

    <script src="/static/script.js"></script>
</body>
</html>
